<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myweb03</display-name>
  <welcome-file-list>
    <welcome-file>myindex</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>50</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.it.myserver.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardLogin</servlet-name>
    <servlet-class>com.it.myserver.CardLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardLogin</servlet-name>
    <url-pattern>/cardlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardDel</servlet-name>
    <servlet-class>com.it.myserver.CardDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDel</servlet-name>
    <url-pattern>/carddel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardAdd</servlet-name>
    <servlet-class>com.it.myserver.CardAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardAdd</servlet-name>
    <url-pattern>/cardadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardInsert</display-name>
    <servlet-name>CardInsert</servlet-name>
    <servlet-class>com.it.myserver.CardInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardInsert</servlet-name>
    <url-pattern>/cardinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardEdit</servlet-name>
    <servlet-class>com.it.myserver.CardEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardEdit</servlet-name>
    <url-pattern>/cardedit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CardModify</servlet-name>
    <servlet-class>com.it.myserver.CardModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardModify</servlet-name>
    <url-pattern>/cardmodify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeLogin</servlet-name>
    <servlet-class>com.it.mybook.HomeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeLogin</servlet-name>
    <url-pattern>/homelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDel</display-name>
    <servlet-name>BookDel</servlet-name>
    <servlet-class>com.it.mybook.BookDel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDel</servlet-name>
    <url-pattern>/bookdel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAdd</display-name>
    <servlet-name>BookAdd</servlet-name>
    <servlet-class>com.it.mybook.BookAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAdd</servlet-name>
    <url-pattern>/bookadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookInsert</display-name>
    <servlet-name>BookInsert</servlet-name>
    <servlet-class>com.it.mybook.BookInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInsert</servlet-name>
    <url-pattern>/bookinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEdit</display-name>
    <servlet-name>BookEdit</servlet-name>
    <servlet-class>com.it.mybook.BookEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEdit</servlet-name>
    <url-pattern>/bookedit</url-pattern>
  </servlet-mapping>
  <servlet>
    
    <servlet-name>BorrowBook</servlet-name>
    <servlet-class>com.it.myborrow.BorrowBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBook</servlet-name>
    <url-pattern>/borrowbook</url-pattern>
  </servlet-mapping>
  <servlet>
    
    <servlet-name>ReBook</servlet-name>
    <servlet-class>com.it.myborrow.ReBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReBook</servlet-name>
    <url-pattern>/rebook</url-pattern>
  </servlet-mapping>
</web-app>